/*svg {*/
    /*border: 1px solid black;*/
/*}*/

.chartAxis {
    fill: none;
    stroke: #e6e6e6;
}

.tick text {
    stroke: none;
    fill: #e6e6e6;
    font-family: verdana;
}

.barColor1 {
    fill: rgb(153, 0, 0);
    stroke: rgb(55, 0, 0);
    stroke-width: 1px;
}

.nvd3 text {
  stroke: none;
  fill: #000000;
}
