<header>
    <input type="checkbox" id="menuTrigger" class="menuTrigger"/>
    <label for="menuTrigger">
        <svg width="30" height="30" shape-rendering="geometricPrecision">
            <title>Menu</title>
            <rect width="30" height="6" x="0" y="2" rx="3" fill="rgb(0,0,0)"/>
            <rect width="30" height="6" x="0" y="12" rx="3" fill="rgb(0,0,0)"/>
            <rect width="30" height="6" x="0" y="22" rx="3" fill="rgb(0,0,0)"/>
        </svg>
    </label>
    <span class="pageTitle">&nbsp;</span>
    <div ui-view="menu"></div>
</header>
<h2>No graph specified</h2>