<header>
  <div id="menuContainer" ui-view="menu">
  </div>
  <span class="pageTitle">Customers Per Province VS Claims Per Province</span>
</header>
<main>
  <div id="full-page">
    <table style="width: 100%">
      <tr>
        <td style="width: 50%">Customers by Province</td>
        <td style="width: 50%">Claims by Province</td>
      </tr>
      <tr>
        <td style="text-align: center; vertical-align: middle;">
          <img id="loaderCust" src="images/loader.gif" style="vertical-align: top;horizontal-align: left; visibility: visible" />
          <div id="customersByProvince"></div>
        </td>
        <td style="text-align: center; vertical-align: middle;">
          <img id="loaderClaim" src="images/loader.gif" style="vertical-align: top;horizontal-align: left; visibility: visible" />
          <div id="claimsByProvince"></div>
        </td>
      </tr>
    </table>
  </div>
  <!--<div style="clear: both;"></div>-->
  <div id="graph-detail">This graph shows the number of customers per province on the left v.s. the claims per province on the right</div>
</main>
