<header>
  <div id="menuContainer" ui-view="menu">
  </div>
  <span class="pageTitle">ELEN7046: Group1 - Process discovery</span>
</header>
<main>
  <div>
    <p>Lorem ipsum dolor sit amet, malis evertitur usu eu, cu tractatos vulputate est. Utroque civibus ut vel. Nibh inermis appellantur sea eu, pro lorem virtute tacimates no, essent gloriatur an eos. Wisi justo veritus no quo.</p>
    <p>Mea elit consulatu et. Te eos utinam numquam definitionem, in vim nostrum elaboraret efficiendi. Iuvaret argumentum an ius, accusamus evertitur efficiantur quo ne, labitur prodesset disputationi no sed. Eu vel case doming, zril appareat ut per. Qui ea ipsum oporteat, nec ea summo movet. No odio errem iuvaret ius, sed molestie similique concludaturque ut.</p>
    <p>At usu dicta mentitum pertinacia, ex facer tibique omittantur mel. Rebum erant equidem id pro. Facete laboramus quaerendum sit in, cu malis dicat definitiones his. Mel quot minim consul et, est omnium latine ut, ex est duis praesent.</p>
    <p>Ut tincidunt omittantur pri, consul legere noster ea vim. Ius an munere detraxit reformidans, graece nominati electram est ei, ei civibus nostrum sea. Sit ne vitae saperet definitionem, te usu minimum molestiae. Probatus principes et vis, est ad agam eirmod labitur. Dictas scaevola vel te. Nec perpetua deterruisset ea, diam fastidii mandamus eum ad.</p>
  </div>
</main>
