<header>
  <div id="menuContainer" ui-view="menu">
  </div>
  <span class="pageTitle">ELEN7046: Group1 - Process Mining CRM Data</span>
</header>
<main>
  <div>
    <p>This web site is part of the work produced by Group1 for the Software Techniques and
      Technologies (ELEN7046) course project.</p>
    <p>ELEN7046 is presented by the <a href="http://www.eie.wits.ac.za/" target="_blank">University
        of the Witwatersrand's School of Electrical and Information Engineering</a>.</p>
    <div style="text-align: center;">
    <h3>Group1 Members</h3>
    </div>
    <div style="margin-left: auto; margin-right: auto; max-width: 1000px;">
      <div class="bio-pic-container">
        <img class="bio-pic" src="images/Edward Muller.png" alt="Edward Muller"/>
        <div class="bio-pic-label">Edward M&#252;ller</div>
        <div class="bio-pic-descr">Architect</div>
      </div>

      <div class="bio-pic-container">
        <img class="bio-pic" src="images/Werner Van Aswegen.png" alt="Werner Van Aswegen"/>
        <div class="bio-pic-label">Werner Van Aswegen</div>
        <div class="bio-pic-descr">Front-End</div>
      </div>

      <div class="bio-pic-container">
        <img class="bio-pic" src="images/Liam Hederman.png" alt="Liam Hederman"/>
        <div class="bio-pic-label">Liam Hederman</div>
        <div class="bio-pic-descr">Project Manager/ Business Analyst</div>
      </div>

      <div class="bio-pic-container">
        <img class="bio-pic" src="images/Kiran Jivan.png" alt="Kiran Jivan"/>
        <div class="bio-pic-label">Kiran Jivan</div>
        <div class="bio-pic-descr">Data Scientist</div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</main>
