<img id="menuBtn" src="images/hamburger.png" align="middle" width="30" height="30"/>
<ul id="mainMenu" class="menu">
  <li class="menu-item"><a ui-sref="home">Home</a></li>
  <li class="menu-item"><a ui-sref="customervsclaim">Customers vs Claims</a></li>
  <li class="menu-item"><a ui-sref="calendarheatmap">Cases Calendar Heat map</a></li>
  <li class="menu-item"><a ui-sref="casesperdaybarchart">Cases per day</a></li>
  <li class="menu-item"><a ui-sref="casestatusflow">Case flow diagram</a></li>
  <li class="menu-item"><a ui-sref="caseprediction">Case prediction diagram</a></li>
</ul>
<script type="text/javascript">
  $(function () {
    var menuBtn = $('#menuBtn');
    var mainMenu = $('#mainMenu');

    mainMenu.hide();

    menuBtn.click(function () {
      mainMenu.slideToggle();
    });

    $(document).mouseup(function (e) {
      if (!mainMenu.is(e.target) && !menuBtn.is(e.target) && mainMenu.has(e.target).length === 0 && menuBtn.has(e.target).length === 0) {
        mainMenu.hide();
      }
    });
  });
</script>
