<header>
  <div id="menuContainer" ui-view="menu">
  </div>
  <span class="pageTitle">{{graphTitle}}</span>
</header>
<main>
  <div id="left-col">
    <div id="graph">
      <img id="imgLoading" src="images/loader.gif" alt="loading..." />
    </div>
    <div id="graph-detail">{{description}}</div>
  </div>
  <div id="right-col">
    <div class="section-heading">Filters</div>
    <div id="filter-col" class="section-body">
      <div ng-repeat="filter in filters">
        <div class="filter-label">{{filter.label}}:</div><div class="filter-value"><input type="{{filter.type}}" ng-model="filter.value" /></div><br/>
      </div>

      <div style="text-align: right;" ng-hide="filters != undefined && filters.length === 0">
        <input type="button" ng-click="updateGraph()" value="Go" />
      </div>
      <div ng-hide="filters === undefined || filters.length > 0" >No filters available</div>
    </div>
    <div class="section-heading">Selected line detail</div>
    <div id="line-detail" class="section-body">
      Selected line detail
    </div>
  </div>
  <div style="clear: both;"></div>
</main>
